Repository heheshang/feiqiu-communication: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, stylelint, cargo-fmt, cargo-check

tsc:
  name: TypeScript type check
  entry: bunx tsc --noEmit
  language: system
  pass_filenames: false

stylelint:
  name: Stylelint
  entry: bunx stylelint --fix
  language: system

cargo-fmt:
  name: Cargo fmt
  entry: cargo +nightly fmt
  language: system
  pass_filenames: false

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false

feat: implement TODO items and improve error handling
  README.md
  docs/TODO-implementation-report.md
  docs/error-handling-improvements.md
  src-tauri/src/core/chat/manager.rs
  src-tauri/src/core/chat/mod.rs
  src-tauri/src/core/chat/receiver.rs
  src-tauri/src/core/contact/discovery.rs
  src-tauri/src/core/contact/mod.rs
  src-tauri/src/core/file/mod.rs
  src-tauri/src/core/file/resume.rs
  src-tauri/src/core/mod.rs
  src-tauri/src/database/handler/chat.rs
  src-tauri/src/database/handler/mod.rs
  src-tauri/src/database/handler/user.rs
  src-tauri/src/database/model/mod.rs
  src-tauri/src/ipc/group.rs
  src-tauri/src/main.rs
  src-tauri/src/network/feiq/packer.rs
  src-tauri/src/network/udp/receiver.rs
  src-tauri/src/network/udp/sender.rs
  src-tauri/src/utils/snowflake/mod.rs
Due: cargo-fmt, cargo-check

feat(network): add GBK encoding support and UDP message logging
  src-tauri/Cargo.toml
  src-tauri/src/network/feiq/parser.rs
  src-tauri/src/network/udp/mod.rs
  src-tauri/src/network/udp/receiver.rs
  src-tauri/src/network/udp/sender.rs
  src-tauri/src/network/udp/socket.rs
Due: cargo-fmt, cargo-check

feat(feiq): replace FeiQ parser with detailed implementation
  src-tauri/src/network/feiq/model.rs
  src-tauri/src/network/feiq/parser.rs
Due: cargo-fmt, cargo-check

feat(feiq): refactor sender/receive and broadcast logic with FeiQ parser
  src-tauri/src/core/chat/receiver.rs
  src-tauri/src/core/contact/discovery.rs
  src-tauri/src/network/feiq/packer.rs
Due: cargo-fmt, cargo-check

``` feat(network): enhance FeiQ packet parser with flexible format support
  src-tauri/src/network/feiq/parser.rs
Due: cargo-fmt, cargo-check

refactor(network): extract utilities and rename packet types
  src-tauri/src/core/chat/receipt.rs
  src-tauri/src/core/chat/receiver.rs
  src-tauri/src/core/chat/sender.rs
  src-tauri/src/core/contact/discovery.rs
  src-tauri/src/core/file/request.rs
  src-tauri/src/core/file/transfer.rs
  src-tauri/src/core/group/broadcast.rs
  src-tauri/src/database/migration/m20250127_000001_create_user_table.rs
  src-tauri/src/database/migration/m20250127_000002_create_contact_table.rs
  src-tauri/src/database/migration/m20250127_000003_create_group_tables.rs
  src-tauri/src/database/migration/m20250127_000004_create_chat_tables.rs
  src-tauri/src/database/migration/m20250127_000005_create_file_storage_table.rs
  src-tauri/src/database/migration/m20250129_000006_create_transfer_state_table.rs
  src-tauri/src/database/migration/mod.rs
  src-tauri/src/database/mod.rs
  src-tauri/src/ipc/chat.rs
  src-tauri/src/main.rs
  src-tauri/src/network/feiq/mod.rs
  src-tauri/src/network/feiq/model.rs
  src-tauri/src/network/feiq/packer.rs
  src-tauri/src/network/feiq/parser copy.rs
  src-tauri/src/network/feiq/parser.rs
  src-tauri/src/network/feiq/utils.rs
  src-tauri/src/network/udp/receiver.rs
  src-tauri/src/network/udp/sender.rs
  src-tauri/src/network/udp/socket.rs
  src-tauri/src/utils/snowflake/mod.rs
Due: cargo-fmt, cargo-check

docs: add network refactoring analysis
  .pre-commit-config.yaml
  .sisyphus/notepads/refactor-analysis/architecture-analysis.md
  .sisyphus/notepads/refactor-analysis/架构分析报告.md
Due: none

``` docs(refactor-plan): add detailed refactoring plan for Feiq project
  .sisyphus/notepads/refactor-plan/重构计划.md
Due: none

test(network): add TDD tests for FeiQ packet generation
  src-tauri/src/network/feiq/packer.rs
Due: cargo-fmt, cargo-check

refactor(protocol): remove IPMsg parser/generator, update discovery to FeiQ-only
  src-tauri/src/core/contact/discovery.rs
  src-tauri/src/network/feiq/packer.rs
  src-tauri/src/network/feiq/parser.rs
Due: cargo-fmt, cargo-check

refactor: complete FeiQ protocol migration and cleanup
  src-tauri/src/network/feiq/model.rs
  src-tauri/src/network/feiq/packer.rs
  src-tauri/src/network/feiq/parser.rs
  src-tauri/src/network/udp/receiver.rs
  src-tauri/src/network/utils/subnet.rs
Due: cargo-fmt, cargo-check

fix: Resolve compiler warnings (Task 9.1)
  src/components/FileUpload/FileUpload.less
Due: stylelint

fix: correct func_flag type from u16 to u32 and remove broadcast
  src-tauri/src/main.rs
  src-tauri/src/network/feiq/model.rs
  src-tauri/src/network/feiq/parser.rs
Due: cargo-fmt, cargo-check

fix: resolve macOS EADDRNOTAVAIL error and FeiQ parser issues
  .tauri-dev.log
Due: none

chore: fix trivial clippy warnings in active code
  .sisyphus/plans/udp-socket-refactor.md
  .tauri-dev.log
  src-tauri/src/core/contact/service.rs
  src-tauri/src/core/group/broadcast.rs
Due: cargo-fmt, cargo-check

chore: complete UDP socket refactor cleanup and task verification
  .sisyphus/plans/udp-socket-refactor.md
  src-tauri/src/main.rs
  src-tauri/src/network/feiq/model.rs
  src-tauri/src/network/feiq/parser copy.rs
  src-tauri/src/network/feiq/parser.rs
  src-tauri/src/network/udp/receiver.rs
Due: cargo-fmt, cargo-check

feat: complete Task 9.4 production build configuration
  src-tauri/src/core/file/handler.rs
  src-tauri/src/core/file/request.rs
  src-tauri/src/core/file/transfer.rs
  src-tauri/src/event/model.rs
  src-tauri/src/network/feiq/packer.rs
  src-tauri/src/network/udp/receiver.rs
  src-tauri/tauri.conf.json
  vite.config.ts
Due: tsc, cargo-fmt, cargo-check

feat: complete Task 9.8 release notes and file transfer improvements
  RELEASE_NOTES.md
  src-tauri/src/core/file/handler.rs
  src-tauri/src/core/file/mod.rs
  src-tauri/src/core/file/request.rs
  src-tauri/src/database/handler/transfer_state.rs
  src-tauri/src/main.rs
  src-tauri/tests/integration_tests.rs
Due: cargo-fmt, cargo-check

docs: update Phase 9 task list - 88% complete (7 of 8 tasks done)
  .sisyphus/notepads/phase9-release-prep/TASK_LIST.md
Due: none

docs: add Download section and update Development Status for v1.0.0 release
  README.md
Due: none

refactor: simplify error handling and code cleanup (Task 7)
  src-tauri/src/core/file/handler.rs
  src-tauri/src/core/file/service.rs
  src-tauri/src/core/file/transfer.rs
  src-tauri/src/database/handler/chat.rs
  src-tauri/src/database/handler/contact.rs
  src-tauri/src/database/handler/file.rs
  src-tauri/src/database/handler/group.rs
  src-tauri/src/database/handler/user.rs
  src-tauri/src/database/mod.rs
  src-tauri/src/ipc/file.rs
  src-tauri/src/ipc/user.rs
  src-tauri/src/network/feiq/model.rs
Due: cargo-fmt, cargo-check

docs: mark UDP refactor tasks 1-7 complete and add session learnings
  .sisyphus/boulder.json
  .sisyphus/notepads/udp-socket-refactor/learnings.md
  .sisyphus/plans/udp-socket-refactor.md
Due: none

docs: UDP socket refactor 100% complete - Task 8 integration verified
  .sisyphus/notepads/udp-socket-refactor/TASK8_VERIFICATION.md
  .sisyphus/plans/udp-socket-refactor.md
Due: none

docs: complete all evidence collection for UDP socket refactor (25/25 items)
  .sisyphus/notepads/udp-socket-refactor/EVIDENCE.md
  .sisyphus/plans/udp-socket-refactor.md
Due: none

docs: add UDP socket refactor final summary
  .sisyphus/notepads/udp-socket-refactor/SUMMARY.md
Due: none

chore: mark UDP socket refactor boulder plan complete (100%)
  .sisyphus/boulder.json
Due: none

docs: create Phase 10 plan for v1.1 features (13 tasks, 3 tracks)
  .sisyphus/boulder.json
  .sisyphus/notepads/phase10-v1.1-features/learnings.md
  .sisyphus/plans/phase10-v1.1-features.md
Due: none

chore: update boulder to track Phase 10 plan
  .sisyphus/boulder.json
Due: none

docs: add comprehensive GitHub v1.0.0 release creation guide
  RELEASE_CHECKLIST.md
Due: none

fix: resolve Tauri state management race condition
  src-tauri/src/main.rs
Due: cargo-fmt, cargo-check

fix: 修复 Tauri 状态管理类型不匹配问题
  src-tauri/src/app/init.rs
  src-tauri/src/app/setup.rs
  src-tauri/src/event/handlers.rs
Due: cargo-fmt, cargo-check

feat: 收到 ANSENTRY/BR_ENTRY 消息后自动更新用户表和联系人表
  src-tauri/src/database/handler/contact.rs
  src-tauri/src/database/handler/user.rs
  src-tauri/src/event/handlers.rs
  src-tauri/src/ipc/contact.rs
  src-tauri/src/network/feiq/parser.rs
  src/components/AddMemberDialog.tsx
  src/hooks/useContact.ts
  src/ipc/contact.ts
  src/services/__tests__/contactService.test.ts
  src/services/contactService.ts
Due: tsc, cargo-fmt, cargo-check

Path conditions:
  tsc: any of: \.(ts|tsx)$
  stylelint: any of: \.(css|less)$, but not: (?x)^(
  node_modules/.*|
  dist/.*
)$

  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
